apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: mysql
data:
  init.sql: | 
    GRANT ALL PRIVILEGES ON app_db.* TO 'app_user'@'%';
    USE app_db;
    CREATE TABLE lists {
      id INT AUTO_INCREMENT PRIMARY KEY,
      value VARCHAR(255) NOT NULL
    };
